<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Routing CodeIgniter
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
  ErrorDocument 404 /index.php
</IfModule>

# ✅ Matikan PageSpeed agar tidak rewrite import URL
<IfModule pagespeed_module>
  ModPagespeed off
</IfModule>